<template>
  <b-modal :active.sync="show" :width="640" scroll="keep" trap-focus :can-cancel="[]">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{ id === null ? 'Nova Receita' : 'Atualizar Receita' }}
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <section>
            <b-field horizontal label="Longe OD">
              <b-input placeholder="Esf" v-model.trim="form.longe.od.esf" v-uppercase expanded></b-input>
              <b-input placeholder="Cil" v-model.trim="form.longe.od.cil" v-uppercase expanded></b-input>
              <b-input placeholder="Eixo" v-model.trim="form.longe.od.eixo" v-uppercase expanded></b-input>
            </b-field>

            <b-field horizontal label="Longe OE">
              <b-input placeholder="Esf" v-model.trim="form.longe.oe.esf" v-uppercase expanded></b-input>
              <b-input placeholder="Cil" v-model.trim="form.longe.oe.cil" v-uppercase expanded></b-input>
              <b-input placeholder="Eixo" v-model.trim="form.longe.oe.eixo" v-uppercase expanded></b-input>
            </b-field>

            <hr>

            <b-field horizontal label="Perto OD">
              <b-input placeholder="Esf" v-model.trim="form.perto.od.esf" v-uppercase expanded></b-input>
              <b-input placeholder="Cil" v-model.trim="form.perto.od.cil" v-uppercase expanded></b-input>
              <b-input placeholder="Eixo" v-model.trim="form.perto.od.eixo" v-uppercase expanded></b-input>
            </b-field>

            <b-field horizontal label="Perto OE">
              <b-input placeholder="Esf" v-model.trim="form.perto.oe.esf" v-uppercase expanded></b-input>
              <b-input placeholder="Cil" v-model.trim="form.perto.oe.cil" v-uppercase expanded></b-input>
              <b-input placeholder="Eixo" v-model.trim="form.perto.oe.eixo" v-uppercase expanded></b-input>
            </b-field>

            <hr>

            <b-field horizontal label="Adição">
              <b-input placeholder="Adição" v-model.trim="form.adicao" v-uppercase></b-input>
            </b-field>

            <hr>

            <b-field horizontal label="DNP">
              <b-input placeholder="OD" v-model.trim="form.dnp.od" v-uppercase></b-input>
              <b-input placeholder="OE" v-model.trim="form.dnp.oe" v-uppercase></b-input>
            </b-field>

        </section>
        </div>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item" @click="closeModal">Fechar</a>
        <a href="#" class="card-footer-item" v-if="id === null" @click="insertReceita">Salvar</a>
        <a href="#" class="card-footer-item" v-else @click="updateReceita">Atualizar</a>
      </footer>
    </div>
  </b-modal>
</template>

<script>
import EventBus from '../eventBus'

export default {
  data() {
    return {
      show: false,
      id: null,
      form: {
        cliente_id: '',
        adicao: '',
        dp: '',
        dnp: {
          od: '',
          oe: ''
        },
        longe: {
          od: {
            esf: '',
            cil: '',
            eixo: ''
          },
          oe: {
            esf: '',
            cil: '',
            eixo: ''
          }
        },
        perto: {
          od: {
            esf: '',
            cil: '',
            eixo: ''
          },
          oe: {
            esf: '',
            cil: '',
            eixo: ''
          }
        }
      }
    }
  },
  methods: {
    closeModal() {
      this.clearForm()
      this.show = false
    },
    clearForm() {
      this.id = null
      this.form = {
        cliente_id: '',
        adicao: '',
        dp: '',
        dnp: {
          od: '',
          oe: ''
        },
        longe: {
          od: {
            esf: '',
            cil: '',
            eixo: ''
          },
          oe: {
            esf: '',
            cil: '',
            eixo: ''
          }
        },
        perto: {
          od: {
            esf: '',
            cil: '',
            eixo: ''
          },
          oe: {
            esf: '',
            cil: '',
            eixo: ''
          }
        }
      }
    },
    calcDp() {
      let od, oe

      if (this.form.dnp.od !== '' || this.form.dnp.oe !== '') {
        od = parseFloat(this.form.dnp.od) || 0
        oe = parseFloat(this.form.dnp.oe) || 0
      }

      this.form.dp =  `${od + oe}`
    },
    insertReceita() {
      this.calcDp()
      this.form.cliente_id = this.$route.params.id
      EventBus.$emit('INSERT_RECEITA', this.form)
    },
    updateReceita() {
      this.calcDp()
      EventBus.$emit('UPDATE_RECEITA', this.id, this.form)
    }
  },
  beforeMount() {
    EventBus.$on('SHOW_MODAL_FORM_RECEITA', () => { this.show = true })
    EventBus.$on('SHOW_MODAL_FORM_ATUALIZAR_RECEITA', (receita) => {
      this.id = receita._id
      this.form = receita
      delete this.form._id

      this.show = true
    })
    EventBus.$on('INSERT_RECEITA_SUCCESS', this.closeModal)
    EventBus.$on('UPDATE_RECEITA_SUCCESS', this.closeModal)
  },
  beforeDestroy() {
    EventBus.$off('SHOW_MODAL_FORM_RECEITA')
    EventBus.$off('SHOW_MODAL_FORM_ATUALIZAR_RECEITA')
    EventBus.$off('INSERT_RECEITA_SUCCESS', this.closeModal)
    EventBus.$off('UPDATE_RECEITA_SUCCESS', this.closeModal)
  }
}
</script>