<template>
  <b-modal :active.sync="show" :width="640" scroll="keep" trap-focus :can-cancel="[]">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{ id === null ? 'Novo Cliente' : 'Atualizar Cliente' }}
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <div class="columns">
            <div class="column is-8">
              <b-field :type="{'is-danger': !form.nome}" label="Nome">
                <b-input v-model.trim="form.nome" v-uppercase></b-input>
              </b-field>
            </div>
            <div class="column is-4">
              <b-field label="CPF">
                <input class="input" type="text" v-model="form.cpf" v-mask="'###.###.###-##'">
              </b-field>
            </div>
          </div>
          <div class="columns">
            <div class="column is-4">
              <b-field label="RG">
                <b-input v-model.trim="form.rg" v-uppercase></b-input>
              </b-field>
            </div>
            <div class="column is-4">
              <b-field label="Telefone">
                <input class="input" type="text" v-model="form.telefone" v-mask="telefoneMask">
              </b-field>
            </div>
            <div class="column is-4">
              <b-field label="Nascimento">
                <input class="input" type="text" v-model="form.nascimento" v-mask="'##/##/####'">
              </b-field>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <b-field label="Endereço">
                <b-input v-model.trim="form.endereco" v-uppercase></b-input>
              </b-field>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <b-field label="Observações">
                <b-input type="textarea" v-model.trim="form.observacoes" v-uppercase></b-input>
              </b-field>
            </div>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" @click="closeModal">Fechar</a>
        <a class="card-footer-item" v-if="id === null" @click="insertCliente">Salvar</a>
        <a class="card-footer-item" v-else @click="updateCliente">Atualizar</a>
      </footer>
    </div>
  </b-modal>
</template>

<script>
import EventBus from '../eventBus'

export default {
  data() {
    return {
      disable: false,
      show: false,
      id: null,
      form: {
        nome: '',
        cpf: '',
        rg: '',
        telefone: '',
        nascimento: '',
        endereco: '',
        observacoes: ''
      }
    }
  },
  methods: {
    closeModal(cliente, clientes) {
      this.clearForm()
      this.show = false
    },
    closeModalAndReceita(cliente, clientes) {
      this.clearForm()
      this.show = false
      this.$router.push(`/${cliente._id}/receitas`)
    },
    clearForm() {
      this.id = null
      this.form = {
        nome: '',
        cpf: '',
        rg: '',
        telefone: '',
        nascimento: '',
        endereco: '',
        observacoes: ''
      }
    },
    insertCliente() {
      if (this.form.nome === '')
        return

      EventBus.$emit('INSERT_CLIENTE', this.form)
    },
    updateCliente() {
      if (this.form.nome === '')
        return

      EventBus.$emit('UPDATE_CLIENTE', this.id, this.form)
    }
  },
  computed: {
    telefoneMask: function () {
      if (this.form.telefone.length <= 5)
        return '(##) ####-####'
      else if (this.form.telefone.substring(5, 6) === '9')
        return '(##) # ####-####'
      else
        return '(##) ####-####'
    }
  },
  beforeMount() {
    EventBus.$on('SHOW_MODAL_CADASTRO_CLIENTES', () => { this.show = true })
    EventBus.$on('SHOW_MODAL_ATUALIZAR_CLIENTE', (cliente) => {
      this.id = cliente._id
      this.form = cliente
      delete this.form._id

      this.show = true
    })
    EventBus.$on('INSERT_CLIENTE_SUCCESS', this.closeModalAndReceita)
    EventBus.$on('UPDATE_CLIENTE_SUCCESS', this.closeModal)
  },
  beforeDestroy() {
    EventBus.$off('SHOW_MODAL_CADASTRO_CLIENTES')
    EventBus.$off('SHOW_MODAL_ATUALIZAR_CLIENTE')
    EventBus.$off('INSERT_CLIENTE_SUCCESS', this.closeModalAndReceita)
    EventBus.$off('UPDATE_CLIENTE_SUCCESS', this.closeModal)
  }
}
</script>