<template>
  <div v-if="receita.dp" class="print-main">
    <div class="cabecalho">Centro de Optometria</div>
    <div class="subcabecalho">
      Rua Ibitiba 612 - Santa Cruz<br/>
      Luis Eduardo Magalhães - BA<br/>
      (77) 9 9829-9513<br/>
    </div>
    <div class="nome">{{ receita.cliente.nome }}</div>
    <table>
      <tr>
        <th>LONGE</th>
        <th>Esf</th>
        <th>Cil</th>
        <th>Eixo</th>
      </tr>
      <tr>
        <td style="font-weight: bold">OD</td>
        <td>{{ receita.longe.od.esf || '-' }}</td>
        <td>{{ receita.longe.od.cil || '-' }}</td>
        <td>{{ receita.longe.od.eixo || '-' }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">OE</td>
        <td>{{ receita.longe.oe.esf || '-' }}</td>
        <td>{{ receita.longe.oe.cil || '-' }}</td>
        <td>{{ receita.longe.oe.eixo || '-' }}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>PERTO</th>
        <th>Esf</th>
        <th>Cil</th>
        <th>Eixo</th>
      </tr>
      <tr>
        <td style="font-weight: bold">OD</td>
        <td>{{ receita.perto.od.esf || '-' }}</td>
        <td>{{ receita.perto.od.cil || '-' }}</td>
        <td>{{ receita.perto.od.eixo || '-' }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">OE</td>
        <td>{{ receita.perto.oe.esf || '-' }}</td>
        <td>{{ receita.perto.oe.cil || '-' }}</td>
        <td>{{ receita.perto.oe.eixo || '-' }}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>DNP OD</th>
        <th>DNP OE</th>
        <th>DP</th>
        <th>Adição</th>
      </tr>
      <tr>
        <td>{{ receita.dnp.od || '-' }}</td>
        <td>{{ receita.dnp.oe || '-' }}</td>
        <td>{{ isNaN(receita.dp) ? '-' : receita.dp }}</td>
        <td>{{ receita.adicao || '-' }}</td>
      </tr>
    </table>
    <div class="columns is-mobile" style="margin-top: 25px">
      <div class="column">
        Data: {{ receita.createdAt.toLocaleDateString() }}
      </div>
      <div class="column">
        Retorno: {{ addOneYear(receita.createdAt).toLocaleDateString() }}
      </div>
      <div class="column">
        <div style="text-align: center">________________________________</div>
        <div style="text-align: center">Optometrista</div>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column" style="text-align: center">
        Obs.: Traga seu(s) óculos para conferir antes de usar.
      </div>
    </div>
    <div style="position: absolute; top: -43px; right: 5px; z-index: 9999; -webkit-app-region: no-drag;">
      <b-button type="is-primary" icon-right="printer" @click="printReceita"></b-button>
      <b-button type="is-primary" icon-right="close" @click="closeWindow"></b-button>
    </div>
  </div>
</template>

<script>
import EventBus from '../eventBus'

export default {
  data() {
    return {
      receita: {}
    }
  },
  methods: {
    addOneYear(date) {
      var nextYear = new Date()
      nextYear.setDate(date.getDate() + 366)
      return nextYear
    },
    closeWindow() {
      this.$remote.BrowserWindow.getFocusedWindow().close()
    },
    printReceita() {
      var webContents = this.$remote.getCurrentWebContents()
      webContents.print()
    },
    getReceitaSuccess(error, receita) {
      this.receita = receita
    }
  },
  beforeMount() {
    EventBus.$on('GET_RECEITA_SUCCESS', this.getReceitaSuccess)

    EventBus.$emit('GET_RECEITA', this.$route.params.rid)
  },
  beforeDestroy() {
    EventBus.$off('GET_RECEITA_SUCCESS', this.getReceitaSuccess)
  }
}
</script>

<style scoped>
@media print {
  .print-main {
    width: calc(13.5cm - 60px) !important;
  }

  .cabecalho, .subcabecalho {
    display: none !important;
  }
}
@page {
  margin-top: 165px;
  margin-left: 0px;
  margin-right: 0px;
}
.print-main {
  margin-left: 32px;
  margin-right: 32px;
}
.cabecalho {
  width: 100%;
  text-align: center;
  font-size: 40px;
}
.subcabecalho {
  width: 100%;
  text-align: center;
  font-size: 15px;
}
.nome {
  margin: 32px 0;
  font-weight: bold;
  font-size: 18px;
}
table {
  width: 100%;
  margin-bottom: 20px;
}
table, th, td {
  border: 1px solid black;
}
th, td {
  text-align: center!important;
}
th:not(:first-child) {
  width: 33.33%;
}
th:first-child {
  max-width: 120px !important;
  min-width: 120px !important;
}
</style>