<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Clientes
      </p>
      <div class="card-fields">
        <b-field style="width: 300px">
          <b-input type="search" v-model='procurar' icon="magnify" v-uppercase></b-input>
        </b-field>
      </div>
      <div class="card-fields">
        <b-button type="is-primary" icon-left="plus-box" @click="showModalCadastroClientes"></b-button>
      </div>
    </header>
    <div class="card-content">
      <div class="content">
        <b-table
          :data="filtro"
          :paginated="isPaginated"
          :per-page="perPage"
          :current-page.sync="currentPage"
          :pagination-simple="isPaginationSimple"
          :pagination-position="paginationPosition"
          :default-sort-direction="defaultSortDirection"
          :sort-icon="sortIcon"
          :sort-icon-size="sortIconSize"
          hoverable
          narrowed>

          <template slot-scope="props">
            <b-table-column field="nome" label="Nome" sortable>
              {{ props.row.nome || '-' }}
            </b-table-column>

            <b-table-column field="telefone" label="Telefone" :width="180" centered>
              {{ props.row.telefone || '-' }}
            </b-table-column>

            <b-table-column field="cpf" label="CPF" :width="180" centered>
              {{ props.row.cpf || '-' }}
            </b-table-column>

            <b-table-column field="nascimento" label="Nascimento" :width="180" centered>
              {{ props.row.nascimento || '-' }}
            </b-table-column>

            <b-table-column label="Ações" :width="120" centered>
              <span>
                <b-button type="is-text" tag="router-link" size="is-small" icon-left="script-text" :to="`/${props.row._id}/receitas`"></b-button>
                <b-button type="is-text" size="is-small" icon-left="pencil" @click="showModalAtualizarCliente(props.row)"></b-button>
                <b-button type="is-text" size="is-small" icon-left="delete" @click="dialogConfirmDelete(props.row._id, props.row.nome)"></b-button>
              </span>
            </b-table-column>
          </template>
        </b-table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import EventBus from '../eventBus'

export default {
  data() {
    return {
      clientes: [],
      procurar: '',
      isPaginated: true,
      isPaginationSimple: true,
      paginationPosition: 'bottom',
      defaultSortDirection: 'desc',
      sortIcon: 'arrow-up',
      sortIconSize: 'is-small',
      currentPage: 1,
      perPage: 10
    }
  },
  computed: {
    filtro: function () {
      return this.clientes.filter(({ nome }) => nome.includes(this.procurar))
    }
  },
  methods: {
    showModalCadastroClientes() {
      EventBus.$emit('SHOW_MODAL_CADASTRO_CLIENTES')
    },
    showModalAtualizarCliente(cliente) {
      EventBus.$emit('SHOW_MODAL_ATUALIZAR_CLIENTE', Object.assign({}, cliente))
    },
    dialogConfirmDelete(id, name) {
      this.$buefy.dialog.confirm({
        title: 'Deletar Cliente',
        message: `Tem certeza que você quer <b>deletar</b> o cliete: <b>${name}<b>?`,
        hasIcon: true,
        type: 'is-danger',
        cancelText: 'Não',
        confirmText: 'Sim',
        onConfirm: () => {
          EventBus.$emit('DELETE_CLIENTE', id)
        }
      })
    },
    updateClienteSuccess(newCliente, oldCliente) {
      this.clientes.splice(this.clientes.findIndex(c => c._id === oldCliente._id), 1, newCliente)
    },
    insertClienteSuccess(newCliente, clientes) {
      this.clientes.unshift(newCliente)
    },
    deleteClienteSuccess(oldCliente) {
      this.clientes.splice(this.clientes.findIndex(c => c._id === oldCliente._id), 1)
    },
    allClienteSuccess(error, clientes) {
      this.clientes = clientes
      this.data = clientes
    }
  },
  beforeMount() {
    EventBus.$on('INSERT_CLIENTE_SUCCESS', this.insertClienteSuccess)
    EventBus.$on('UPDATE_CLIENTE_SUCCESS', this.updateClienteSuccess)
    EventBus.$on('DELETE_CLIENTE_SUCCESS', this.deleteClienteSuccess)
    EventBus.$on('ALL_CLIENTES_SUCCESS', this.allClienteSuccess)

    EventBus.$emit('ALL_CLIENTES')
  },
  beforeDestroy() {
    EventBus.$off('INSERT_CLIENTE_SUCCESS', this.insertClienteSuccess)
    EventBus.$off('UPDATE_CLIENTE_SUCCESS', this.updateClienteSuccess)
    EventBus.$off('DELETE_CLIENTE_SUCCESS', this.deleteClienteSuccess)
    EventBus.$off('ALL_CLIENTES_SUCCESS', this.allClienteSuccess)
  }
}
</script>