<template>
  <div class="columns">
    <div  class="column">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Informações do Cliente
          </p>
          <div class="card-fields">
            <b-button type="is-primary" icon-left="pencil" @click="showModalAtualizarCliente"></b-button>
          </div>
        </header>
        <div class="card-content">
          <div class="content">
            <figure class="image">
              <div v-html="avatar"></div>
            </figure>
            <div class="informacoes">
              <dl class="columns">
                <div class="column">
                  <dt><b>Nome:</b></dt>
                  <dd>{{cliente.nome || '-'}}</dd>
                </div>
              </dl>
              <dl class="columns">
                <div class="column">
                  <dt><b>CPF:</b></dt>
                  <dd>{{cliente.cpf || '-'}}</dd>
                </div>
                <div class="column">
                  <dt><b>RG:</b></dt>
                  <dd>{{cliente.rg || '-'}}</dd>
                </div>
              </dl>
              <dl class="columns">
                <div class="column">
                  <dt><b>Telefone:</b></dt>
                  <dd>{{cliente.telefone || '-'}}</dd>
                </div>
                <div class="column">
                  <dt><b>Nascimento:</b></dt>
                  <dd>{{cliente.nascimento || '-'}}</dd>
                </div>
              </dl>
              <dl class="columns">
                <div class="column">
                  <dt><b>Endereço:</b></dt>
                  <dd>{{cliente.endereco || '-'}}</dd>
                </div>
              </dl>
              <dl class="columns">
                <div class="column">
                  <dt><b>Observações:</b></dt>
                  <dd>{{cliente.observacoes || '-'}}</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div  class="column is-8">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Receitas
          </p>
          <div class="card-fields">
            <b-button type="is-primary" icon-left="plus-box" @click="showModalFormReceitas"></b-button>
          </div>
        </header>
        <div class="card-content">
          <div class="content">
            <b-table
              :data="cliente.receitas"
              :paginated="isPaginated"
              :per-page="perPage"
              :current-page.sync="currentPage"
              :pagination-simple="isPaginationSimple"
              :pagination-position="paginationPosition"
              :default-sort-direction="defaultSortDirection"
              :sort-icon="sortIcon"
              :sort-icon-size="sortIconSize"
              hoverable
              narrowed>

              <template slot-scope="props">
                <b-table-column field="createdAt" label="Data" sortable>
                  {{ new Date(props.row.createdAt).toLocaleDateString() }}
                </b-table-column>

                <b-table-column field="tempo" label="Dias" centered>
                  {{ dateDiff(props.row.createdAt) }}
                </b-table-column>

                <b-table-column label="Ações" :width="130" centered>
                  <span>
                    <b-button tag="router-link" :to="`/${cliente._id}/receitas/${props.row._id}`" target="_blank" type="is-text" size="is-small" icon-left="printer" @click="showModalAtualizarReceita(props.row)"></b-button>
                    <b-button type="is-text" size="is-small" icon-left="pencil" @click="showModalAtualizarReceita(props.row)"></b-button>
                    <b-button type="is-text" size="is-small" icon-left="delete" @click="dialogConfirmDelete(props.row._id)"></b-button>
                  </span>
                </b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from '../eventBus'

export default {
  data() {
    return {
      cliente: {},
      avatar: '',
      isPaginated: true,
      isPaginationSimple: true,
      paginationPosition: 'bottom',
      defaultSortDirection: 'desc',
      sortIcon: 'arrow-up',
      sortIconSize: 'is-small',
      currentPage: 1,
      perPage: 10
    }
  },
  methods: {
    showModalAtualizarCliente() {
      EventBus.$emit('SHOW_MODAL_ATUALIZAR_CLIENTE', Object.assign({}, this.cliente))
    },
    showModalFormReceitas() {
      EventBus.$emit('SHOW_MODAL_FORM_RECEITA')
    },
    showModalAtualizarReceita(receita) {
      EventBus.$emit('SHOW_MODAL_FORM_ATUALIZAR_RECEITA', Object.assign({}, receita))
    },
    dialogConfirmDelete(id) {
      this.$buefy.dialog.confirm({
        title: 'Deletar Receita',
        message: `Tem certeza que você quer <b>deletar</b> a receita?`,
        hasIcon: true,
        type: 'is-danger',
        cancelText: 'Não',
        confirmText: 'Sim',
        onConfirm: () => {
          EventBus.$emit('DELETE_RECEITA', id)
        }
      })
    },
    dateDiff(d) {
      var diff = Math.ceil(Math.abs((new Date()) - d) / (1000 * 60 * 60 * 24))
      return diff <= 1 ? `${diff} dia` : `${diff} dias`
    },
    updateClienteSucces(newCliente, oldCliente) {
      EventBus.$emit('ALL_RECEITAS', this.$route.params.id)
    },
    setCliente(cliente) {
      this.avatar = this.$jdenticon.toSvg(cliente.nome, 90)
      this.cliente = cliente
    },
    insertReceitaSuccess(newReceita, receitas) {
      this.cliente.receitas.unshift(newReceita)
    },
    updateReceitaSuccess(newReceita, oldReceita) {
      this.cliente.receitas.splice(this.cliente.receitas.findIndex(c => c._id === oldReceita._id), 1, newReceita)
    },
    deleteReceitaSuccess(oldReceita) {
      this.cliente.receitas.splice(this.cliente.receitas.findIndex(c => c._id === oldReceita._id), 1)
    },
    allReceitasSuccess(error, cliente) {
      this.setCliente(cliente)
    }
  },
  beforeMount() {
    EventBus.$on('INSERT_RECEITA_SUCCESS', this.insertReceitaSuccess)
    EventBus.$on('UPDATE_RECEITA_SUCCESS', this.updateReceitaSuccess)
    EventBus.$on('UPDATE_CLIENTE_SUCCESS', this.updateClienteSucces)
    EventBus.$on('DELETE_RECEITA_SUCCESS', this.deleteReceitaSuccess)
    EventBus.$on('ALL_RECEITAS_SUCCESS', this.allReceitasSuccess)

    EventBus.$emit('ALL_RECEITAS', this.$route.params.id)
  },
  beforeDestroy() {
    EventBus.$off('INSERT_RECEITA_SUCCESS', this.insertReceitaSuccess)
    EventBus.$off('UPDATE_RECEITA_SUCCESS', this.updateReceitaSuccess)
    EventBus.$off('UPDATE_CLIENTE_SUCCESS', this.updateClienteSucces)
    EventBus.$off('DELETE_RECEITA_SUCCESS', this.deleteReceitaSuccess)
    EventBus.$off('ALL_RECEITAS_SUCCESS', this.allReceitasSuccess)
  }
}
</script>

<style scoped>
.informacoes {
  font-size: 15px;
}
.informacoes .column {
  padding-bottom: 0px;
}
.informacoes .columns {
  margin-bottom: .5rem;
}
</style>