<template>
  <div class="app">
    <b-navbar style="-webkit-app-region: drag" type="is-primary" class="noprint" :mobile-burger="false" shadow>
      <template slot="brand">
        <b-navbar-item class="noprint">
          <img class="noprint" src="assets/brand.png" >
        </b-navbar-item>
      </template>
      <template slot="end">
        <b-navbar-item tag="div" style="padding-right: 0px; -webkit-app-region: no-drag">
          <b-taglist attached>
            <b-tag type="is-dark">clientes</b-tag>
            <b-tag type="is-info">{{ clientes }}</b-tag>
          </b-taglist>
        </b-navbar-item>
        <b-navbar-item tag="div" style="padding-left: 6px; -webkit-app-region: no-drag">
          <b-taglist attached>
            <b-tag type="is-dark">receitas</b-tag>
            <b-tag type="is-info">{{ receitas }}</b-tag>
          </b-taglist>
        </b-navbar-item>
        <b-navbar-item tag="div">
          <div class="buttons" style="-webkit-app-region: no-drag">
            <b-button type="is-primary" tag="router-link" v-if="$route.name !== 'clientes'" icon-right="arrow-left" to="/"></b-button>
            <b-button type="is-primary" icon-right="window-minimize" @click="minimizeApp"></b-button>
            <b-button type="is-primary" icon-right="window-close" @click="closeApp"></b-button>
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>
    <div class="container is-fluid main">
      <transition name="fade" mode="out-in">
        <router-view class="child-view"></router-view>
      </transition>
    </div>
    <form-cliente></form-cliente>
    <form-receita></form-receita>
  </div>
</template>

<script>
import EventBus from './eventBus'
import FormCliente from './modals/FormCliente'
import FormReceita from './modals/FormReceita'

export default {
  components: {
    'form-cliente': FormCliente,
    'form-receita': FormReceita
  },
  data() {
    return {
      clientes: 0,
      receitas: 0
    }
  },
  methods: {
    closeApp() {
      this.$remote.BrowserWindow.getFocusedWindow().close()
    },
    minimizeApp() {
      this.$remote.BrowserWindow.getFocusedWindow().minimize()
    },
    insertClienteSuccess() {
      this.clientes += 1
    },
    insertReceitaSuccess() {
      this.receitas += 1
    },
    countClientesSuccess(clientes) {
      this.clientes = parseInt(clientes)
    },
    countReceitasSuccess(receitas) {
      this.receitas = parseInt(receitas)
    },
    deleteClienteSuccess() {
      this.clientes -= 1
    },
    deleteReceitaSuccess() {
      this.receitas -= 1
    }
  },
  beforeMount() {
    EventBus.$on('COUNT_CLIENTES_SUCCESS', this.countClientesSuccess)
    EventBus.$on('COUNT_RECEITAS_SUCCESS', this.countReceitasSuccess)
    EventBus.$on('INSERT_CLIENTE_SUCCESS', this.insertClienteSuccess)
    EventBus.$on('INSERT_RECEITA_SUCCESS', this.insertReceitaSuccess)
    EventBus.$on('DELETE_CLIENTE_SUCCESS', this.deleteClienteSuccess)
    EventBus.$on('DELETE_RECEITA_SUCCESS', this.deleteReceitaSuccess)

    EventBus.$emit('COUNT_CLIENTES');
    EventBus.$emit('COUNT_RECEITAS');
  },
  beforeDestroy() {
    EventBus.$off('COUNT_CLIENTES_SUCCESS', this.countClientesSuccess)
    EventBus.$off('COUNT_RECEITAS_SUCCESS', this.countReceitasSuccess)
    EventBus.$off('INSERT_CLIENTE_SUCCESS', this.insertClienteSuccess)
    EventBus.$off('INSERT_RECEITA_SUCCESS', this.insertReceitaSuccess)
    EventBus.$off('DELETE_CLIENTE_SUCCESS', this.deleteClienteSuccess)
    EventBus.$off('DELETE_RECEITA_SUCCESS', this.deleteReceitaSuccess)
  }
}
</script>

<style>
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
@media print {
  .noprint {
    display: none!important;
  }
}
.navbar-burger {
  -webkit-app-region: no-drag;
}
html, body {
  overflow: hidden;
}
.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
}
.app {
  width: 100vw;
  height: 100vh;
}
.main {
  padding-top: 15px;
}
.card-fields {
  margin-right: 5px;
  margin-top: 5.4px;
}
.b-table .level:not(.top) {
  padding-bottom: 0px !important;
}
</style>